/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * freight-sans-compressed-pro:
 *   - http://typekit.com/eulas/00000000000000000001775b
 *   - http://typekit.com/eulas/000000000000000000017764
 * futura-pt:
 *   - http://typekit.com/eulas/00000000000000000001008f
 *   - http://typekit.com/eulas/000000000000000000013365
 *   - http://typekit.com/eulas/000000000000000000012192
 * futura-pt-bold:
 *   - http://typekit.com/eulas/00000000000000003b9af1e4
 *
 * © 2009-2020 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2020-03-12 01:20:25 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=ive1evd&ht=tk&f=10879.10884.15586.25657.25666.32874&a=17446570&app=typekit&e=css");

@font-face {
font-family:"futura-pt";
src:url("https://use.typekit.net/af/2cd6bf/00000000000000000001008f/27/l?primer=ec1cdd61c86ea54544edc1c5ee26b1a9a2365cc235e1ad12ad17b2e35345290a&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/2cd6bf/00000000000000000001008f/27/d?primer=ec1cdd61c86ea54544edc1c5ee26b1a9a2365cc235e1ad12ad17b2e35345290a&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/2cd6bf/00000000000000000001008f/27/a?primer=ec1cdd61c86ea54544edc1c5ee26b1a9a2365cc235e1ad12ad17b2e35345290a&fvd=n5&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:500;
}

@font-face {
font-family:"futura-pt";
src:url("https://use.typekit.net/af/9b05f3/000000000000000000013365/27/l?primer=ec1cdd61c86ea54544edc1c5ee26b1a9a2365cc235e1ad12ad17b2e35345290a&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/9b05f3/000000000000000000013365/27/d?primer=ec1cdd61c86ea54544edc1c5ee26b1a9a2365cc235e1ad12ad17b2e35345290a&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/9b05f3/000000000000000000013365/27/a?primer=ec1cdd61c86ea54544edc1c5ee26b1a9a2365cc235e1ad12ad17b2e35345290a&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}

@font-face {
font-family:"futura-pt";
src:url("https://use.typekit.net/af/c4c302/000000000000000000012192/27/l?primer=ec1cdd61c86ea54544edc1c5ee26b1a9a2365cc235e1ad12ad17b2e35345290a&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/c4c302/000000000000000000012192/27/d?primer=ec1cdd61c86ea54544edc1c5ee26b1a9a2365cc235e1ad12ad17b2e35345290a&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/c4c302/000000000000000000012192/27/a?primer=ec1cdd61c86ea54544edc1c5ee26b1a9a2365cc235e1ad12ad17b2e35345290a&fvd=n6&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:600;
}

@font-face {
font-family:"freight-sans-compressed-pro";
src:url("https://use.typekit.net/af/1c306c/00000000000000000001775b/27/l?primer=81a69539b194230396845be9681d114557adfb35f4cccc679c164afb4aa47365&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/1c306c/00000000000000000001775b/27/d?primer=81a69539b194230396845be9681d114557adfb35f4cccc679c164afb4aa47365&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/1c306c/00000000000000000001775b/27/a?primer=81a69539b194230396845be9681d114557adfb35f4cccc679c164afb4aa47365&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;
}

@font-face {
font-family:"freight-sans-compressed-pro";
src:url("https://use.typekit.net/af/610143/000000000000000000017764/27/l?primer=81a69539b194230396845be9681d114557adfb35f4cccc679c164afb4aa47365&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/610143/000000000000000000017764/27/d?primer=81a69539b194230396845be9681d114557adfb35f4cccc679c164afb4aa47365&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/610143/000000000000000000017764/27/a?primer=81a69539b194230396845be9681d114557adfb35f4cccc679c164afb4aa47365&fvd=n6&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:600;
}

@font-face {
font-family:"futura-pt-bold";
src:url("https://use.typekit.net/af/053fc9/00000000000000003b9af1e4/27/l?primer=ec1cdd61c86ea54544edc1c5ee26b1a9a2365cc235e1ad12ad17b2e35345290a&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/053fc9/00000000000000003b9af1e4/27/d?primer=ec1cdd61c86ea54544edc1c5ee26b1a9a2365cc235e1ad12ad17b2e35345290a&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/053fc9/00000000000000003b9af1e4/27/a?primer=ec1cdd61c86ea54544edc1c5ee26b1a9a2365cc235e1ad12ad17b2e35345290a&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;
}

.tk-futura-pt { font-family: "futura-pt",sans-serif; }
.tk-freight-sans-compressed-pro { font-family: "freight-sans-compressed-pro",sans-serif; }
.tk-futura-pt-bold { font-family: "futura-pt-bold",sans-serif; }
